.MyFooter{ 
    height: 60%;
    background-color: #2d2d44;
}
.footerContent{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}
.columnWrpaper{ 
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.column{
    width: 23%;
    margin: 15px;
}
.columnContent{ 
    width: 100%;
    height: 100%;
    color: white;
    box-sizing: border-box;
}
.columnContent>p{ 
    width: 100%;
    border-bottom: 1px solid #6d767e;
    padding-bottom: 8px;
}
.footerImage{ 
    margin: 0 auto;
    width:  75%;
    height: 40%;
    display: grid;
    place-items: center;
    border-top: 1px solid #6d767e;
}
.imagefoot{ 
    pointer-events: none;
    user-select: none;
    height: 90%;
    width: 15%;
}
.wrapperAbout>ul{ 
    margin: 0;
    padding: 0;
}
.wrapperAbout>ul>li{
    margin: 6px;
}
.wrapperAbout>ul>li>span{ 
    width: 7%;
    margin-right: 10px;
}
.link{ 
    color: white;
    text-decoration: none;
    max-width: 90%;
    width: fit-content;
    cursor: pointer;
    transition: 200ms;
}
.vkLink:hover{
    color: #597ba0;
}
.tgLink:hover{ 
    color: #2AABEE;
}
.dscLink:hover{ 
    color: 	#7289da;
}
.whtLink:hover{ 
    color: 	#2BB741 ;
}