.teory_wrapper{ 
    width: 100%;
    height: 97vh;
    background-color: #272527e0;
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    display: flex;
}
.course_teory__content{
    width: 50%;
    background-color: #1e1e1b;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.teory__inner{ 
    width: 90%;
    display: flex;
    flex-direction: column;
}
.teory_title{
    height: 5%;
    width: 100%;
    display: flex;
}
.teory_title>div{ 
    background-color: #262822;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 10px;
    width: 120px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
}
.teory__content{
    background-color: #262822;
    width: 100%;
    height: 90%;
    flex: 1;
    overflow: auto;
}
.buttonClose{ 
    height: 60px;
    background-color: transparent;
    width: 60px;
    border: unset;
}
.button_wrapper{ 
    min-height: 20px;
    height: 5%;
    padding: 5px;
    border-top: 1px solid gray;
    background-color: #262822;
    display: flex;
    align-items: center;
}
.button_wrapper>button{ 
    background-color: #3f3ccb;
    border: 1px solid;
    border-color: #3f3ccb;
    height: 40px;
    color: white;
    outline: none;
    width: 30%;
    font-size: 18px;
}
.supportBlock{ 
    background-color:  rgba(166, 220, 241, 0.737);
    height: 4vh;
}